.btn {
  height: 3.75rem;
  display: inline-flex;
  align-items: center;

  font-family: var(--font-secondary);

  background-color: var(--black);
  color: var(--white);
  font-weight: var(--weight-2);

  font-size: var(--sm-price);
  line-height: 1.3181rem;

  transition: 0.5s;

  &.access {
    padding-inline: 1.5rem;
  }

  &.register {
    background-color: var(--white);
    color: var(--black);
    border: 0.0625rem solid var(--black);

    padding-inline: 2rem;
  }

  &.checkOut {
    padding-inline: 2.5rem;
  }

  &.addToCart {
    width: 20rem;

    display: flex;
    justify-content: space-between;

    padding: 0 1.8rem;
  }

  &.registerForm {
    padding-inline: 2.3rem;
  }

  &.newProduct,
  &.editProduct {
    height: 3.4375rem;
    width: 14.0625rem;

    display: flex;
    justify-content: space-between;

    padding: 0 1.5rem;
  }

  &.cartIcon {
    padding-inline: 1rem;
  }

  &.btn-cancel {
    background-color: var(--white);
    color: var(--black);
    border: 0.0625rem solid var(--black);

    padding-inline: 1rem;
  }

  &.btn-confirm {
    padding-inline: 1rem;
  }
}

.btn:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
