:root {
  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  --title-1: clamp(3.75rem, 18vw, 6.25rem);
  --title-2: clamp(2.75rem, 13vw, 3.75rem);
  --title-3: 38px;
  --title-4: 2rem;
  --title-5: 1.5rem;
  --title-6: 1.3125rem;
  --title-7: 1.1875rem;
  --title-8: 0.875rem;

  --title1-mobile: 3.75rem;
  --title2-mobile: 2.75rem;

  --paragraph: 1.25rem;

  --price: 2rem;
  --sm-price: 1.125rem;

  --weight-1: 700;
  --weight-2: 500;
  --weight-3: 400;

  --black: #000000;
  --white: #ffffff;
  --gray: #eeeeee;
  --opacity: rgba(0, 0, 0, 0.5);

  --radius-1: 2.5rem;
  --radius-2: 1.25rem;
}
