.title-1 {
  font-size: var(--title-1);
  line-height: clamp(5.5rem, 15vw, 7.5rem);

  font-weight: var(--weight-2);
  color: var(--black);
}

.title-2 {
  font-size: var(--title-2);

  font-weight: var(--weight-2);
  color: var(--black);
}

.productCard-title {
  font-family: var(--font-secondary);

  font-size: var(--title-6);
  line-height: 1.7581rem;

  font-weight: var(--weight-1);
  color: var(--black);

  &.sm {
    font-size: var(--title-7);
    line-height: 1.3919rem;
  }
}

.price {
  font-size: var(--price);
  line-height: 2.9638rem;

  font-weight: var(--weight-3);
  color: var(--black);

  &.sm {
    font-size: var(--sm-price);
    line-height: 1.6675rem;
  }
}

.know-more {
  font-family: var(--font-secondary);

  font-size: var(--title-8);
  line-height: 1.0256rem;

  font-weight: var(--weight-2);
  color: var(--black);
}

.paragraph {
  font-family: var(--font-secondary);

  font-size: var(--paragraph);
  line-height: 2rem;

  font-weight: var(--weight-3);
  color: var(--black);
}

.navigation-title {
  font-size: var(--paragraph);
  line-height: 1.8525rem;

  font-weight: var(--weight-2);
  color: black;

  &.sm {
    font-size: var(--sm-price);
    line-height: 1.6675rem;
  }
}

.modal-title {
  color: var(--black);
  font-weight: var(--weight-2);

  font-size: var(--title-3);
  line-height: 3.52rem;
}
